//colors

$primary-color: #FFD15B;
$black-color: #000;
$white-color: #fff;
$grey-color: #7a7a7a;
$light-grey-color: #EDEDED;

// box-shadow
$box-shadow-color: rgba(0, 0, 0, 0.1);


// typo 
$texte-typo: 'Manrope', sans-serif;
$title-typo: 'Anton', sans-serif;